:root {
	--text-rgb: 255, 255, 255;
	--background-rgb: 30, 30, 35;
	--point-rgb: 44, 216, 67;
}

html {
	font-size: 10px;
}

body {
	position: relative;
	background-color: rgba(var(--background-rgb), 1);
	color: rgba(var(--text-rgb), 1);
	font-family: "Pretendard";
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.6;
}

// 공통 스타일
.sr-only {
	overflow: hidden;
	position: absolute;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
}

.max-width {
	width: 120rem;
	max-width: calc(100% - 6rem);
	margin: 0 auto;
}

.fwl {
	font-weight: 200;
}
.fc-point {
	color: rgba(var(--point-rgb), 1);
}
/* Page Loader */
.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

/* Deco Shape */
.decoshape {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	fill: rgba(var(--point-rgb), 1);
}
.js .loading::before {
	content: "";
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(var(--background-rgb), 1);
}

.js .loading::after {
	content: "";
	position: fixed;
	z-index: 10000;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 10px solid rgba(var(--background-rgb), 1);
	border-left-color: rgba(var(--text-rgb), 1);
	animation: loaderAnim 0.8s linear infinite forwards;
}

@keyframes loaderAnim {
	to {
		transform: rotate(360deg);
	}
}

/* SVG Morph */
.shape-wrap {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.shape {
	position: relative;
	max-width: 150%;
	height: 100%;
	fill: none;
	flex: none;
	stroke-width: 1rem;
	stroke: rgba(var(--point-rgb), 0.2);
}

// layout
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
	backdrop-filter: blur(5px);
	z-index: 100;

	.max-width {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	h1 {
		word-break: keep-all;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 1.6em;
		img {
			height: 2em;
		}
	}
}

footer {
	position: fixed;
	bottom: 2rem;
	right: 4rem;
	transform: rotate(90deg);
	transform-origin: center right;
	font-size: 0.9em;
	opacity: 0.8;
}

main {
	section {
		width: 100%;
		height: 100vh;
		min-height: 80rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

//섹션별
.section-grid {
	pointer-events: auto;
	justify-content: center;
	align-content: center;
	position: relative;
	display: grid;
	width: 80rem;
	max-width: calc(100% - 8rem);
	height: 60rem;
	max-height: calc(100vh - 8rem);
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 2fr 2fr 0.5fr 0.5fr;
	grid-template-areas:
		"... ... title title title"
		"cont3 ... cont1 cont1 cont1"
		"cont3 ... cont2 cont2 cont2";
	.move-img {
		grid-column: 1/4;
		grid-row: 1/4;
		object-fit: cover;
		width: 100%;
		height: 100%;
		opacity: 0.8;
		transition: transform 0.3s ease-out;
	}
	.move-title,
	.cont1,
	.cont2,
	.cont3 {
		position: relative;
		transition: transform 0.3s ease-out;
	}

	.move-title {
		grid-area: title;
		z-index: 10;
		font-size: 5em;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1.1;
		letter-spacing: -0.5px;
		align-self: center;
	}
	.cont1 {
		grid-area: cont1;
	}
	.cont2 {
		grid-area: cont2;
	}
	.cont3 {
		grid-area: cont3;
		justify-self: flex-start;
		align-self: flex-end;
		transform: rotate(90deg);
		transform-origin: center right;
		margin: 0 0 0.5em -1em;
		opacity: 0.8;
		font-size: 0.9em;
	}
}

.section1 {
	.move-title span {
		display: block;
	}
	.section-grid {
		grid-template-rows: 3fr 1fr 0.5fr 0.5fr;
	}
	.cont1 {
		strong {
			display: inline-block;
			border-bottom: 2px solid rgba(var(--text-rgb), 1);
			margin-bottom: 1rem;
		}
	}
	.cont2 {
		font-size: 0.8em;
		opacity: 0.8;
		img {
			height: 1.2em;
			vertical-align: middle;
			margin-right: 0.5em;
		}
	}
}

.section2 {
	.section-grid {
		grid-template-areas:
			"... title title title title"
			"cont1 cont1 cont1 ... cont3"
			"cont2 cont2 cont2 ... ...";
	}
	.cont1,
	.cont2 {
		text-align: right;
		padding-right: 2rem;
	}
	.cont1 {
		span {
			display: inline-block;
			margin-top: 0.8rem;
			padding: 0 0.5em;
			background: rgba(0, 0, 0, 1);
		}
	}
	.move-img {
		grid-column: 3/6;
	}
	.cont3 {
		justify-self: flex-end;
		margin: 0 2em 0.5em 0;
	}
}
.section3 {
	.section-grid {
		grid-template-rows: 3fr 1fr 0.5fr 0.5fr;
	}
}

.section4 {
	.section-grid {
		grid-template-areas:
			"title title title title title"
			"cont1 cont1 cont1 ... cont3"
			"cont2 cont2 cont2 ... ...";
	}
	.move-img {
		grid-column: 3/6;
	}
}
//일정
.section5 {
	.section-grid {
		grid-template-rows: 1fr 3fr;
	}

	.schedule {
		& > li > strong {
			font-weight: bold;
			font-size: 1.6em;
			padding: 0.2em 0.3em;
			background: rgba(var(--background-rgb), 0.8);
			color: rgba(var(--point-rgb), 1);
		}
		.date {
			margin-left: 1rem;
		}
		& > li {
			margin: 2rem;
		}

		ul {
			margin: 1rem 0;
		}
	}
}

//함께할까요?
.last-section {
	div {
		display: flex;
		gap: 8rem;
		align-items: center;
	}
	h2 {
		font-size: 3em;
		line-height: 1.2;
	}
}

//button
.btn-round {
	min-width: 14rem;
	text-align: center;
	display: inline-block;
	padding: 0.5em 2em;
	border-radius: 4rem;
	border: 1px solid rgba(255, 255, 255, 0.4);
	transition: all 0.3s;
	color: rgba(var(--text-rgb), 1);
	&:hover {
		color: rgba(var(--background-rgb), 1);
		background: rgba(var(--point-rgb), 1);
		border: 1px solid rgba(var(--point-rgb), 1);
	}
}

.small-text {
	font-size: 0.9em;
	background: rgba(var(--background-rgb), 0.6);
	color: rgba(var(--text-rgb), 0.8);
}

.list-style {
	li {
		display: flex;
		align-items: flex-start;

		&:not(:first-child) {
			margin-top: 1rem;
		}
		.label {
			flex-shrink: 0;
			display: inline-block;
			background: rgba(var(--text-rgb), 1);
			color: rgba(var(--background-rgb), 1);
			font-size: 0.8em;
			padding: 0.2em 0.4em;
			border-radius: 2em;
			width: 6em;
			text-align: center;
			margin-right: 1em;
		}
		strong {
			font-size: 1.2em;
		}
	}
}

.btn-apply {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 8em;
	height: 3em;
	position: relative;
	transition: all 0.3s;
	color: rgba(var(--point-rgb), 1);
	border-radius: 6em;
	border: 1px solid rgba(255, 255, 255, 0.4);

	&:hover {
		background: rgba(var(--point-rgb), 1);
		color: rgba(var(--background-rgb), 1);
	}
}

.last-section {
	.btn-apply {
		margin: 0 auto;
		width: 12em;
		height: 4em;
		font-size: 1.2em;
	}
}

@media (max-width: 640px) {
	body {
		font-size: 1.4rem;
		letter-spacing: -0.015em;
	}
	header h1 {
		max-width: 6em;
		font-size: 1.2em;
	}
	.section-grid {
		.move-title {
			font-size: 3em;
		}
	}

	.cont3 {
		display: none;
	}
	.last-section {
		div {
			flex-direction: column;
			gap: 4rem;
		}
	}

	.section-grid {
		transform: translateY(10%);
		grid-template-columns: 1fr 2fr 2fr;
		grid-template-areas:
			"title title title"
			"cont1 cont1 cont1"
			"cont2 cont2 cont2";
		.move-img {
			grid-column: 2/4;
			grid-row: 1/2;
		}
	}

	.section2 {
		.section-grid {
			grid-template-areas:
				"... title title"
				"cont1 cont1 cont1"
				"cont2 cont2 cont2";
		}
	}
	//button
	.btn-round {
		min-width: 5em;
		margin: 0 0.5em 0.5em 0;
	}
	.list-style li {
		margin-bottom: 2em;
	}
}
